* {padding: 0; margin: 0;
box-sizing: border-box;
}

body { font-family: "Lato", sans-serif;
}


header {border-bottom: 1px solid rgb(212, 199, 199);
height: 4.5rem;
}

.container {
width: 1250px;
height: 100%; 
padding-left: 1rem;
padding-right: 1rem;
margin-left: auto;
margin-right: auto;
}

header .container {display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

#logo {font-size: 2rem;
text-decoration: none;
color: black;}

nav ul {display: flex;
    flex-direction: row;
gap: 1.5rem;
list-style: none;
}

nav a {text-decoration: none;
color: black;
}


.iconlink {color: black;
text-decoration: none;

}

.iconlinks{display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

#logo,
h1,
h2,
h3,
h4,
h5,
h6
 {font-family: "Playfair Display", serif;
}

h1,
.h1 {font-size: 3.815rem;
    margin-bottom: 1.5rem;
}

h2,
.h2 {font-size: 3.052rem;
}

h3,
.h3 {font-size: 2.441rem;
}

h4,
.h4 {font-size: 1.953rem;
}

h5,
.h5 {font-size: 1.563rem;
}

h6,
.h6 {font-size: 1.25rem;
}

p {font-size: 1rem;
line-height: 160%;
color: rgb(54, 52, 52);}

.small {font-size: 0.8rem;
}


    
#section1 {background-color: rgb(209, 199, 199);
    padding-top: 4rem;
    padding-bottom: 4rem;
height: 50vh;}

#section1 .container {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#section1 p {width: 560px;
align-items: center;
}

.buttonholder {margin-top: 1.5rem;}

.button {display: inline-block;
padding: 0.7rem 1.5rem;
border-radius: 0.25rem;
text-decoration: none;
}

.primarybutton {background-color: rgb(0, 0, 0);
color: white;
}

.secondarybutton {color: rgb(17, 17, 17);
border: 1px solid rgb(32, 32, 32);
background-color: rgb(250, 245, 245);
}

#section2 {padding-top: 6rem;
padding-bottom: 6rem;}

.categorylist {list-style: none;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 1.5rem;
}.category {display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;}



.category img {width: 100%;
aspect-ratio: 1/1;
border-radius: 50%;
}


